<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="DB_Game" connectionString="data source=SQL5103.site4now.net;initial catalog=DB_A71194_CoffeeShopDB;persist security info=True;user id=DB_A71194_CoffeeShopDB_admin;password=QQddRRvv1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

